td, th{
padding: 3px 7px 3px 7px;
}
#taskinfo {
text-align:center;
margin-left:auto;
margin-right:auto;
}

.Admin {
color:red;
font-weight:bold;
}

.Senior {
color: purple;
font-weight:bold;
}

.Mod {
color:green;
font-weight:bold;
}

.User {
color:blue;
}

.Guest {
color:grey;
}