@(id: Long)

<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title" id="myModalLabel">Are you sure you want to do that?</h4>
		</div>
		<div class="modal-body">
			 <a href = "/thread/lock/@id" class="btn btn-danger">Lock</a>
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
	</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->