@(post: models.Post)

<div class="post-container" style="width:850px;  display: block; margin-left: auto; margin-right: auto; padding:0">
	<div class="panel panel-default">
		<div class="panel-heading" style="text-align:left; min-height:50px">
			@post.title
			<span style="float: right;">
				<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
					Options
				</button>
			</span>
		</div>
		<div class="panel-body" style="padding: 0">
			<div class="col-md-3" style="border: 1px solid #aaaaaa; margin-left: 0; height:100%; min-height:300px;  text-align:center;">
				<span class="@User.find.byId(post.posterID).rank">@User.find.byId(post.posterID).username </span><br/>
				@User.find.byId(post.posterID).rank <br/><br/>
				<img src="@User.find.byId(post.posterID).profileImage" style="padding: 10px"><br/>
				<img src="http://i.imgur.com/QMym75V.png"><br/>
				<img src="http://i.imgur.com/2liA6S1.png"><br/><br/> 
				@User.find.byId(post.posterID).postCount Posts<br/>
				@User.find.byId(post.posterID).repCount Rep</div>
				<div class="col-md-9" style="border: 1px solid #aaaaaa; margin: 0; min-height:300px; text-align:left; padding-top:20px; padding-left:20px">
				@post.message
				</div>
		</div>
	</div>
	
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Post Options</h4>
				</div>
				<div class="modal-body">
					<h1> Basic Options </h1>
					<div class = "row">
						<div class="col-md-12" style="">
							<button type="button" class="btn btn-default"> Quote </button>
							<button type="button" class="btn btn-default"> Report </button>
						</div>
					</div>
					
					<hr/>
	  
					<h1> Ratings </h1>
					<div class = "row">
						<div class="col-md-6" style="">
							<span class="glyphicon glyphicon-thumbs-up"></span> Agree x 1 <br/>
							<span class="glyphicon glyphicon-thumbs-down"></span> Disagree x 1 <br/>
							<span class="glyphicon glyphicon-star"></span> Winner x 1 <br/> 
							<span class="glyphicon glyphicon-heart"></span> Friendly x 1 <br/>
							<span class="glyphicon glyphicon-flash"></span> Witty x 1 <br/>
							<span class="glyphicon glyphicon-wrench"></span> Informative x 1 <br/>
						</div>
						<div class="col-md-6" style="">
							<div class="btn-group" >
								<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-up"></span></button>
								<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-down"></span></button>
								<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-star"></span></button>
								<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-heart"></span></button>
								<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-flash"></span></button>
								<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-wrench"></span></button>
							</div>
						</div>
					</div>
					@if(UserUtils.loginCheck().rank.equals(Rank.Admin)) {
					<hr/>
					<div class = "row">
						<div class="col-md-12" style="">
							<h1> Moderation Options </h1>
							@if(post.forumThread.isLocked == false) {
							<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirm">
								Lock Thread
							</button>
							} else {
								<a class="btn btn-success" href="/thread/lock/@post.forumThread.id">Unlock</a>
							}
							<button type="button" class="btn btn-danger"> Delete Thread </button>
							<button type="button" class="btn btn-danger">  </button>
						</div>
					</div>
					}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	<div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		@_lockconfirm(post.forumThread.id)
	</div>
</div>