@(registerForm: Form[User])(errorMessage: String)
@import helper._
<!DOCTYPE html>

<html>
    <head>
        <title>Register</title>
         <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")" />
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/responsive.min.css")" />
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")" />
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
    </head>
    <body style="text-align:center">
		@_navbar(UserUtils.loginCheck())
		<h1>Register Account</h1>
		<div>
			@if(!errorMessage.equals("")) {
				<div class="alert alert-danger alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				@errorMessage
			</div>
			}
		</div>
        <div>
			@helper.form(routes.Register.register()) {
				@inputText(registerForm("username")) 
				@inputText(registerForm("password")) 
				<input type="submit" value="Create" class="btn btn-default">
			}
		</div>
		<br/>
		<small><a href="index">(Back to main)</a></small>
    </body>
</html>
