@(user: User)

<!DOCTYPE html>

<html>
    <head>
        <title>Index</title>
         <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")" />
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/responsive.min.css")" />
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")" />
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
    </head>
    <body>
	<!-- Todo: 
		Add User Management stuff to its own dropdown
		glyphicon glyphicon-home

		Post ratings(will test post layout soon)
		
		
		
		
		
		
	
	-->
		@_navbar(Application.loginCheck())
        <div style="text-align:center">
			<h1>Hello <span class="@user.rank">@user.username</span></h1>
					
			<a href = "/posts/1">Test Post</a>
			
			<div class="post-container" style="width:65%;  display: block; margin-left: auto; margin-right: auto;">
				<div class="panel panel-default">
					<div class="panel-heading" style="text-align:left">I LIKE TITLESSSSSSSS</div>
					<div class="panel-body" style="">
						<p style="text-align:left">
							<div class="col-md-3" style="height:75%;">[Rank]<br/>[User]<br/><br/>[User Rank Badge]<br/>[User post badge]<br/><br/>[Posts]<br/>[Rep]</div>
							<div class="col-md-9" style="min-height:300px; text-align:left">
                                Hi
							</div>
						</p>

					
					
						<div class="row">
							<div class="col-md-9" style=""></div>
							<div class="col-md-3" style=" ">
								<div class="btn-group" >
									<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-up"></span></button>
									<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-down"></span></button>
									<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-star"></span></button>
									<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-heart"></span></button>
									<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-flash"></span></button>
									<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-wrench"></span></button>
								</div>
							</div>
						</div>
						<div class="row">
						<hr/>
						[Quoting and shit go here]
						</div>	
					</div>
				</div>
			</div>
			
		</div>
    </body>
</html>
